.box{
    /* border: 1px solid black;    */
    /* margin: 10px; */
}

.sidebox {
    background-color: rgba(223, 219, 219, 0.872);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px !important;
    text-align: justify;
    
}

.alert {
    margin-top: 10px !important;
}

.footer {
    color:rgb(204, 204, 204);
}

.images {
    border: 1px solid rgba(109, 111, 110, 0.379);
    margin-left: 20px;
    padding: 5px;

}

ul {
    list-style: none;
    color: royalblue;
    font-weight: bold;
}
