.navbar-brand {
    color: rgba(198, 198, 198, 0.701) !important;
}

.nav-item a {
    color: rgba(198, 198, 198, 0.701) !important;
}

.jumbo {
background-color: #EEEEEE;
height: 250px;
padding-left: 120px;
}

.login-container button {
    background: #5CB85C;
    border: none;
    border-radius: 3px;
  }

  .login-container input {
    border: none;
    border-radius: 3px;
  }


  .paddingnav {
      padding-left: 120px;
  }

  .mybadge {
      background-color: grey;
      margin-left: 10px;
  }

  .heading {
      margin-top: 20px !important;
  }

  