body {
  margin: 0;
  padding: 0;
}

header#head{
  background-color: rgb(48, 189, 205);
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
}

header > p {
  margin: auto;
}

aside#left, aside#right{
position: absolute;
top: 90px;
width: 200px;
height: 100%;
}

aside#left{
  background-color: rgb(232, 232, 215);
  left: 0;
}

aside#right{
  background-color: rgb(232, 232, 215);
  right: 0;
}

section#game{
  position: relative;
  background-color: black;
  margin-top: 90px;
  margin-left: 200px;
  margin-right: 200px;
  height: 767px;
  width: 1039px;
}

