body {
    background-color: white;
    
}


/*rajout*/
.topnav {
    overflow: hidden;
    /*background-color: blue;*/
    background-image: radial-gradient(circle, blue, red);
    position: relative;
    height: 50px;
    border:2px solid black;
  }

/*rajout*/
#av_logo {
    /*display: inline;*/
    position: absolute;
    top:0px;
    left:20px;
    width: 40px;
    /*margin-left: 100px;*/
}

/*rajout*/
ul{
    position: absolute;
    top:0px;
    right:800px;

}

/*rajout*/
li {
    display: inline-block;
    margin-left: 100px;
    margin-right:100px;
    padding: 2px;
}

/*ul li{
    display: inline;
    margin-left: 100px;
}*/

/*rajout*/
#sp_name {
    position: relative;
    bottom: 200px;
    /*display: inline;*/
    width: 600px;
}

/*rajout*/
#ud_name {
    /*display: inline;*/
    position: relative;
    left: 300px;
    width: 50%;
}

.bio {
    position: relative;
}

#ud_name_bio {
    position: absolute;
    bottom: 200px;
    /*display: inline;*/
    width: 600px;
}

#article_bio {
    position: absolute;
    bottom: 200px;
    width: 40px;
}

article h2 {
    position: absolute;
    width: 100px;
    top: 100px;
}

a {
    text-decoration: none;
}

/*rajout*/
footer {
    position: relative;
}


/*rajout*/
span {
    line-height: 4
}

/*rajout*/
.container_icon {
    /*rajout*/
    position: absolute;
    top:0px;
    right:0px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}