body {
    background-color: black;
    color:white;
}

h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;

    text-align: center;
    line-height: 59px;

    padding: 0;
    margin: 0;
}

.pcm {
    display: grid;
    justify-items: center;
    grid-row-gap: 20px;
    width: 100%;
    padding-top: 25px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;
    width: 220px;

    border: 2px solid white;
    border-radius: 50%;
}

.time {
    font-family: "Roboto Mono",sans-serif;
    font-weight: 300;
    font-size: 48px;
}

button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: -65px;
    outline: none;
    font-size: 80px; 
}

.controls {
    display: flex;
    justify-content: center;
    
    width: 187px;
}

#playButton {
    display: block;
}

#stopButton {
    display: none;
}

button:hover {
    background-color: violet;
}

.gold {
    font-weight: 500;
    color: #f2c94c;
    text-shadow: 2px 2px 10px #fff, 0 0 50px #f2c94c;
}